/* This overrides the embedded "default_colors.css" file. */

/* panel - The entire printable area. */
.panel { 
  background: #202020;
}

/* network - The road network. May be smaller or larger than the panel. */
.network { 
  background: #202020;
}

/* node - Each Node. */
.node { 
  background: yellow;
}
.multinode {
  border: 3px solid whitesmoke;
}
.uninode {
  border: 3px solid green;
}

/* lane - Each (road) lane. */
.lane { 
  border: 1px solid gray;
}

/* sidewalk - Each (sidewalk) lane. */
.sidewalk { 
  border: 1px solid yellow;
}

/* median - The median lane line. */
.median { 
  border: 1px solid red;
}

/* roadname - Each (road) roadname. */
.roadname { 
  border: 1px solid white;
}

/* frameNumber */
.framenumber{
	background: white;
}


/* example of how to re-color cars */
/*.car-body1 {
  background: #4040FF;
}*/
.busstop {
  background: #B5AC5B;
}


