#Ignore all files within these directories
dev/Basic/Debug/*
dev/Basic/Debug_M/*
dev/Basic/Release/*
dev/Basic/doxy/output/

#Java project built files
dev/visualizer/Traffic_Signal_Animation/.settings/
dev/visualizer/Traffic_Signal_Animation/bin/
dev/visualizer/Large Network Visualizer/.settings/
dev/visualizer/Large Network Visualizer/bin/

#Processing applet directories (except the original)
testing/CrossingsVisualization/applet/
testing/RoadNetworkSampleVis/applet/


#Ignore object files
*.o
*.class

#Ignore gedit backup files
*~

#Ignore vim .swp files.
.*.swp
.*.swo

#Ignore python's compiled byte-code, optimized or otherwise.
*.pyc
*.pyo

#Don't ignore gitignore files:
!.gitignore

