GenConfig.h
out*.txt
HeadwayAtBusStopInfo.txt
PassengerInfo.txt
supply.link_travel_time.txt
*.xml*
*.out*
*.log*
*.tags*
*.csv*
.cproject
.project
.vscode/*
nbproject/*
Debug*/
Release*/
/dev/visualizer/Traffic_Signal_Animation_Combined/bin/*
