#Use this config file to change options for our XSD parser. 
#   xsdcxx  cxx-parser  --options-file  conf1.cfg   conf1.xsd

#Only treat the *last* global element as a document root (instead of all global elements).
--root-element-last

#Give us the suffixes hpp and cpp for our generated files.
--hxx-suffix .hpp
--cxx-suffix .cpp

#Specify XML to C++ mappings. (It's complicated; see the XSD tutorial)
--type-map confConverter1.map

#Put the generated (skeleton) files in the skeleton directory, in order to clearly separate them from the implementation files.
--output-dir skeleton

#Map our namespace to something more copasetic:
--namespace-map http://www.smart.mit.edu/conf=sim_mob::conf

#Helpful warning message
--prologue-file prologue.txt 
